[submodule "EthernetTesting/lib/NativeEthernet"]
	path = EthernetTesting/lib/NativeEthernet
	url = https://github.com/vjmuzik/NativeEthernet.git
[submodule "radios-2025"]
	path = radios-2025
	url = https://github.com/McGillRocketTeam/radios-2025.git
